/* Reset Styles */
	* {
		margin: 0;
		padding: 0;
	}

/* Main styles */
	body {
		background-color: black;
		font-family: Poppins;
	}

	.container {
		width: 1200px;
		margin: 0 auto;
	}

	h1, h2, h3, h4, h5 {
		color: rgb(255, 255, 255);
		font-weight: bold;
	}

	a {
		text-decoration: none;
	}

	a:hover {
		text-decoration: underline;
		text-decoration-color: #ff0340;
		text-decoration-thickness: 4px;
		text-underline-offset: 8px;
	}

/* Body */
	/* Background */

	/* Header */
	.navbar {
		margin: 60px auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.navlogo {
		width: 120px;
	}

	nav li {
		margin: 0px 16px;
		display: inline-block;
	}

	nav a {
		text-decoration: none;
		color: rgb(255, 255, 255);
	}

	nav li:first-child {
		margin-left: 0px;
	}

	nav li:last-child {
		margin-right: 0px;
	}

	/* Inro Welcome */
		.intro_welcome {
			width: 50%;
		}

		.intro_welcome h1 {
			font-size: 72px;
		}

		.intro_welcome_title:before {
			display: block;
			width: 80px;
			height: 4px;
			background-color: #ff0340;
			content: "";
			margin: 154px 0px 64px 0px;
		 }

		 .intro_button {
			width: 192px;
			height: 64px;
			margin: 64px 0px;
			border-style: solid;
			border-width: 4px;
			border-color: #ff0340;
			background-color: black;
			color: rgb(255, 255, 255);
			font-size: 16px;
			font-family: Poppins;
			font-weight: regular;
		 }

	/* Solutions */
	.solutions {
		margin-top: 80px;
	}
	
	.solutions ul {
	}

	/* .solutions li {
		width: auto;
		height: 296px;
		display: inline-block;
		margin: 0 32px;
		background-color: rgb(20, 20, 20);
		text-align: left;
	}

	.solutions li:first-child {
		margin-left: 0px;
	}

	.solutions li:last-child {
		margin-right: 0px;
	}

	.solutions a {
		text-decoration: none;
		color: rgb(255, 255, 255);
	}

	.solution_content {
		margin: 32px 32px;
	}

	.solutions h3:after {
		display: block;
		width: 48px;
		height: 2px;
		background-color: #ff0340;
		content: "";
		margin: 4px 0px 32px 0px;
	}

	.solution_icon img {
		width: 32px;
		margin-bottom: 32px;
	}
	 */
/* Services */
	/* .services h2:before {
		display: block;
		width: 40px;
		height: 2px;
		background-color: #ff0340;
		content: "";
		margin: 120px 0px 32px 0px;
	}

	.services {
		text-align: center;
	}

	.services li {
		width: 340px;
		height: 80px;
		display: inline-block;
		margin: 8px;
		background-color: rgb(20, 20, 20);
		text-align: left;
	}

	.services img {
		width: 24px;
	} */