html {
	/* сохрание размеров при паддингах/бордерах и тд */
	box-sizing: border-box;
}

*, *::after, *::before {
	/* Унаследовали BB от родителя */
	box-sizing: inherit;
	/* Сбросили стили */
	margin: 0;
	padding: 0;
}

img {
	/* обеспечили картинкам адаптив */
	max-width: 100%;
}

/**************************************/
/* MAIN STYLES */
	body {
		background-color: black;
		font-family: Poppins;
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 1.4;
		color: white;
		text-decoration: none;
	}

	h1, h2, h3, h4, h5 {
		color: inherit;
		font-weight: bold;
	}

	h1 {
		font-size: 4em;
	 }

	h2 {
	font-size: 2.5em;
	}

	h3 {
		font-size: 1.5em;
	}

	a {
		color: inherit;
		text-decoration: inherit;
	}

	li {
		list-style: none;
	}

	a:hover {
		text-decoration: underline;
		text-decoration-color: #ff0340;
		text-decoration-thickness: 4px;
		text-underline-offset: 8px;
	}

/**************************************/
/* Body */
	.container {
		max-width: 1264px;
		padding: 0 64px;
		margin: 0 auto;
	}

/**************************************/
/* Header */
	.nav {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		height: 200px;
	}

	.navlist {
		display: flex;
		flex-wrap: wrap;
		gap: 0 20px;
	}

	.navlogo {
		display: flex;
		width: 200px;
	}

/**************************************/
/* Main */

	.intro_welcome_title::before {
		display: block;
		width: 80px;
		height: 4px;
		background-color: #ff0340;
		content: "";
		margin: 50px 0px 64px 0px;
		}

	.intro {
		min-height: calc(100vh - 200px);
	}

	.intro_welcome {
		width: 50%;
	}

	.intro_button {
		margin: 64px 0px;
		width: 192px;
		height: 64px;
		border-style: solid;
		border-width: 4px;
		border-color: #ff0340;
		background-color: inherit;
		color: rgb(255, 255, 255);
		font-size: 1em;
		font-weight: bold;
	}

	/**************************************/
	/* Solutions */
		
		.solutions ul {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			gap: 24px;
		}

		.solutions li {
			padding: 48px 32px;
			background-color: rgb(30, 30, 30);
		}

		.solutions li:first-child {
			margin-left: 0px;
		}

		.solutions li:last-child {
			margin-right: 0px;
		}

		.solution_icon {
			width: 40px;
			margin-bottom: 48px;
		}

		.solutions a {
			text-decoration: none;
		}

		.solutions h3:after {
			display: block;
			width: 48px;
			height: 2px;
			background-color: #ff0340;
			content: "";
			margin: 4px 0px 32px 0px;
		}

		.solutions::after {
			display: block;
			width: 48px;
			height: 2px;
			background-color: #ff0340;
			content: "";
			margin: 96px 0px 64px 0px;
			}

	/**************************************/
	/* Services */

	.second_title {
		margin-bottom: 64px;
	}
	
	.services_subtitle {
		margin: 16px 0 32px 0;
		text-transform: uppercase;
		color: #ff0340;
		font-weight: 600;
	}

	.allservises ul{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 24px;
		margin-bottom: 64px;
	}

	.allservises li {
		padding: 24px 8px 24px 32px ;
		background-color: rgb(30, 30, 30);
	}

	.services_list {
		display: grid;
		grid-template-columns: 5fr 1fr;
		grid-auto-flow: column;
		column-gap: 24px;
		align-items: center;
	}

	.allservises img {
		height: 32px;
	}







	/*

/* Services */
	/* .services h2:before {
		display: block;
		width: 40px;
		height: 2px;
		background-color: #ff0340;
		content: "";
		margin: 120px 0px 32px 0px;
	}

	.services ul {
		display: flexbox;
	}

	.services li {
		height: 160px;
		width: auto;
		background-color: rgb(20, 20, 20);
	}

	.services img {
		width: 24px;
	} */